
html, body, #root, .App {
  height: 100%;
}

.App {
  text-align: center;
}

.PageAnimeList {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.GridWrapper {
  margin: 2rem;
  flex: 1;
}

.FooterTable {
  display: flex;
  justify-content: space-around;
}

.AnimeDetail {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ReturnLink{
  padding: 1rem;
}